@mixin heading($size, $ls) {
  font-size: $size;
  letter-spacing: $ls;
}

@mixin button($padding, $color, $hover) {
  box-sizing: border-box;
  padding: $padding $padding * 2.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: inline-block;
  transform: skew(-15deg);  
  border: 1px solid $color;
  color: $color;
  transition: .2s linear;
  &:hover {
    color: $hover;
    border-color:$hover;    
  }
  > span {
    display: inline-block;
    transform: skew(15deg);  
  }
}

@mixin transitionElastic($prop) {
  transition: $prop .2s cubic-bezier(1, 0.43, 0.35, 1.14);
}